@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;600;800&family=Poppins:wght@200;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "League Spartan";
  margin: 0;
  padding: 0;
  background-color: #effafa;
  color: #5ba4a4;
  box-sizing: border-box;
}

.container {
  width: min(1120px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}
